@import "tailwindcss";

body {
  position: relative;
  background-image: url('../src/assets/dining.jpg');
  background-size: auto 100%; /* Prevents zoom on mobile */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* For tablets and desktop */
@media (min-width: 768px) {
  body {
    background-size: cover;
  }
}